input {
  border-radius: 0 !important;
}

.parallax {

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.no-parallax {
   background-attachment: scroll !important;
   background-repeat: no-repeat !important;
   background-size: cover !important;
   background-position: center !important;
}

.navbar-brand {
  font-size: 24px;
}
.hero-overlay {
    position: absolute !important;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.4);
}

.darkened-background {
    background: rgba(0, 0, 0, 0.6);
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: inherit;
}

.transparent {
   background-color: transparent;
   background: transparent;
}

.white-text {
  color: #FFFFFf !important;
}

.mild-bottom-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.transparent a {
  color: #FFFFFF
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.background-gray-lightest {
    background: #f7f7f7;
}

/* Selectors for rating stars */

.rating-field {
  width: 15em;
}

.rating-field input[type="radio"] {
    display: none;
}

.rating-field label{
  float: right;
}

.rating-field input[type="radio"] + label .unselected-star,
.rating-field input[type="radio"] + label:hover .selected-star,
.rating-field input[type="radio"] + label:hover ~ label .selected-star,
.rating-field input[type="radio"]:checked ~ label .selected-star {
    display: inline-block;
}

.rating-field input[type="radio"] + label .selected-star,
.rating-field input[type="radio"] + label:hover .unselected-star,
.rating-field input[type="radio"] + label:hover ~ label .unselected-star,
.rating-field input[type="radio"]:checked ~ label .unselected-star {
  display: none;
}

#login-tabs .active > a {
  border-radius: 0;
}

#login-tabs .input-group input {
  border-left: 0;
  height: 44px;
  padding-left: 15px;
}

#login-tabs .input-group-addon {
  border-right: 0;
  background-color: inherit;
}

.testimonial-img {
  width: 140px;
  height: 140px;
}
