<div class="col-xs-12 col-md-7 col-md-offset-1">
  <form class="review-form" method="post" action="https://api.staticman.net/v2/entry/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/reviews">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#review-submitted">
    <input type="hidden" name="options[entryId]" value="{{ .UniqueID }}">
    <input type="hidden" name="options[origin]" value="{{ .URL | absURL }}">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="rating">Rate this yatra</label>
                <div id="rating" class="rating-field">
                  <input type="radio" name="fields[stars]" id="fields[stars]-5" value="5" >
                  <label for="fields[stars]-5">
                    <i class="fa fa-star-o fa-3x unselected-star"></i>
                    <i class="fa fa-star fa-3x selected-star" style="color:gold"></i>
                  </label>
                  <input type="radio" name="fields[stars]" id="fields[stars]-4" value="4" >
                  <label for="fields[stars]-4">
                    <i class="fa fa-star-o fa-3x unselected-star"></i>
                    <i class="fa fa-star fa-3x selected-star" style="color:gold"></i>
                  </label>
                  <input type="radio" class="form-control" name="fields[stars]" id="fields[stars]-3" value="3" >
                  <label for="fields[stars]-3">
                    <i class="fa fa-star-o fa-3x unselected-star"></i>
                    <i class="fa fa-star fa-3x selected-star" style="color:gold"></i>
                  </label>
                  <input type="radio" name="fields[stars]" id="fields[stars]-2" value="2" >
                  <label for="fields[stars]-2">
                    <i class="fa fa-star-o fa-3x unselected-star"></i>
                    <i class="fa fa-star fa-3x selected-star" style="color:gold"></i>
                  </label>
                  <input type="radio" name="fields[stars]" id="fields[stars]-1" value="1" >
                  <label for="fields[stars]-1">
                    <i class="fa fa-star-o fa-3x unselected-star"></i>
                    <i class="fa fa-star fa-3x selected-star" style="color:gold;"></i>
                  </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="message">Review this yatra</label>
                <textarea class="form-control" name="fields[review]" rows="8" required=""></textarea>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-warning">Post review</button>
        </div>
    </div>
  </form>
</div>
