<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{ with .Title }}<title>{{ . | humanize }}</title>{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">
{{ with .Site.Params.favIcon48by48Url }}<link rel="shortcut icon" href="{{ . }}">{{ end }}
{{ with .Site.Params.appleTouchIcon180by180Url }}<link rel="apple-touch-icon" sizes="180x180" href="{{ . }}">{{ end }}
<link rel="stylesheet" href="{{ "css/font-awesome-4.7.0/css/font-awesome.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/owl.carousel.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/owl.theme.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/style.default.css" | absURL }}">
