<nav class="navbar navbar-fixed-top transparent mild-bottom-border">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{ .Site.Title | title }}</a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-sm hidden-xs">
           <a href="tel:+919840188430" role="button" class="btn btn-success navbar-btn">
                <i class="fa fa-phone" aria-hidden="true"></i>
                Book now
            </a>
        </ul>
    </div>
</nav>
<div class="visible-sm-block visible-xs-block" style="position:fixed; bottom: 0px; width:100vw; z-index: 1; opacity: 1">
  <a href="tel:+919840188430" role="button" class="btn btn-success" style="width: 98%; margin-left: 5px; margin-bottom: 5px;">
       <i class="fa fa-phone" aria-hidden="true"></i>
       Book now
   </a>
</div>
