{{ define "main" }}
{{ partial "nav_main.html" . }}
<div class="jumbotron transparent text-center no-parallax" style="background: url({{ .Site.Params.bannerImgUrl }}); height:100vh;">
    <img src="{{ .Site.Params.bannerImgUrl }}" style="display:none" alt="" />
    <div style="position: relative; top: 50%; transform: translateY(-50%);">
        <div class="container">
            <h1 class="white-text startchange">Lets go on the path of enlightenment</h1>
            <p class="white-text">
              <a href="#upcomingYatras" title="" style="color: inherit; text-decoration: none">
                {{ $noOfYatrasToBeHighlighted := .Site.Params.noOfYatrasToInMainBanner }}
                {{ $arr := first $noOfYatrasToBeHighlighted (where .Data.Pages "Section" "yatra") }}
                {{ range $index, $element := $arr }}
                    {{ $element.Title | title }}
                    {{ if lt ( add $index 1 ) $noOfYatrasToBeHighlighted }}
                       |
                    {{ else }}
                       And Much More
                    {{ end }}
                {{ end }}
              </a>
            </p>
            <a class="btn btn-warning" role="button" href="#upcomingYatras">Lets begin</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
      <section class="container" id="yatras">
          <h3 class="text-center sr-only">Yatras</h3>
          <section class="row" id="upcomingYatras">
              <h3 class="col-xs-12">Upcoming</h3>
              {{ range (where .Data.Pages "Section" "yatra")  }}
              <div class="col-xs-12 col-sm-4">
                  <div style="padding:2px;">
                      <a href="{{ .Permalink }}" title="" style="color: inherit; text-decoration: none">
                          <img src="{{ .Params.thumbnail }}" alt="" class="img-responsive" />
                          <h4>{{ .Title | title }}<small> {{ .Params.daterange }}</small></h4>
                          {{ if .Params.price }}
                          <span class="darkened-background white-text" style="position:relative; top: -80px; padding: 5px">{{ .Params.priceunit }} {{ .Params.price }}</span>
                          {{ end }}
                      </a>
                  </div>
              </div>
              {{ end }}
          </section>
      </section>
    </div>
    <section class="row background-gray-lightest" id="whyUs">
      <h2 class="text-center">Why {{ .Site.Title }} ?</h2>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <p>Before organising any tour, we personally visit all the places and ensure everything is in place.
           We take small groups of people only to give our Yatris personalised attention and quality service.
           Senior citizens are taken care of well by us.
        </p>
        <p>
          We always provide comfortable Hotels and Twin Sharing rooms only.
          Tour Organiser travels with the group and explains the Importance and History of each and Place
          We take utmost care to give you the best food.
        </p>
        <p>So far we have more than 400 Satisfied and Happy Yatris. Our
          Three Pillars of a tour : Accommodation / Transport / Food – We always choose the Best</p>
        </p>
      </div>
    </section>
    <section class="row" id="testimonials" style="background-color:#2f2f2f">
        <h2 class="text-center white-text"> What people say about us? </h2>
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
            <div class="owl-carousel owl-theme" id="testimonial-carousel">
                {{ range .Site.Data.testimonials }}
                <div class="white-text">
                    <p class="text-justify">{{ .text }}</p>
                    <!--      <img class="" alt="" src="{{ .avatar | absURL }}"> -->
                    <h4>{{ .name }}</h4>
                    <p>{{ .position }}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    <section class="row background-gray-lightest" id="contact">
        <h2 class="text-center">Let's Get In Touch! <br>
          <small> We welcome you to join our yatras and discover why we are different 😊 </small>
        </h2>
        {{ with .Site.Params.email }}
        <div class="col-xs-12 col-md-7 col-md-offset-1">
          <form class="contact-form" method="post" action="https://formspree.io/{{ . }}">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control" name="name" id="name" required="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input type="text" class="form-control" name="email" id="email" required="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="message">Your Message</label>
                        <textarea id="message" class="form-control" name="message" required=""></textarea>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-warning"><i class="fa fa-envelope-o"></i> Send message</button>
                </div>
            </div>
          </form>
        </div>
        {{ end }}
        <div class="col-xs-12 col-md-4">
          <address>
            {{ .Site.Params.address | safeHTML }}
          </address>
        </div>
    </section>
</div>
{{ end }}
