{{ define "main" }}
{{ partial "nav_main.html" . }}
<div class="jumbotron transparent text-center no-parallax" style="background: url(//res.cloudinary.com/mantrayatra/image/upload/c_fit,w_1440/v1482845830/contact-us_zkfy1t.jpg); height:30%; width: 100%;">
  <img src="{{ . }}" style="display:none" alt="" />
  <div style="position: relative; top: 50%; transform: translateY(-50%);">
  <div class="container">
    <h1 class="white-text startchange">Let's get in touch!</h1>
  </div>
  </div>
</div>
<section class="row background-gray-lightest" id="contact">
    <h2 class="text-center">Let's Get In Touch!</h2>
    <div class="col-xs-12 text-center">
      <address>
        <strong>Mantra Yatra</strong><br>
        2C - Ranga Nivas<br>
        20 - Barnaby Road<br>
        Chennai 600 010<br>
        Kilpauk<br>
        <abbr title="Mobile"><i class="fa fa-mobile" aria-hidden="true"></i></abbr> +919840188430 / +919840988430 <br/>
        <abbr title="Landline"><i class="fa fa-phone" aria-hidden="true"></i></abbr> 044-42612114 <br/>
        <abbr title="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></abbr> mantrayatra@gmail.com <br/>
      </address>
    </div>
</section>
{{ end }}
