{{ define "main" }}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">{{ .Site.Title | title }}</h1>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div>

                <!-- Nav tabs -->
                <ul id="login-tabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#signup" aria-controls="home" role="tab" data-toggle="tab">Sign up</a></li>
                    <li role="presentation"><a href="#login" aria-controls="profile" role="tab" data-toggle="tab">Login</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="padding: 10px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;">
                    <div role="tabpanel" class="tab-pane active" id="signup">
                        <form class="signup-form" method="post" action="#">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name" class="sr-only">Your Name</label>
                                        <input type="text" placeholder="Name*" class="form-control" name="name" id="name" required="">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="email" class="sr-only">Your Email</label>
                                        <input type="email" placeholder="Email*" class="form-control" name="email" id="email" required="">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="password" class="sr-only">Your Message</label>
                                        <input type="password" placeholder="Password*" id="password" class="form-control" name="password" required=""></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-warning">Create An Account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="login">
                        <form class="login-form" method="post" action="#">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="email" class="sr-only">Your Email</label>
                                        <input type="email" placeholder="Email" class="form-control" name="email" id="email" required="">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="password" class="sr-only">Password</label>
                                        <input type="password" placeholder="Password" id="password" class="form-control" name="password" required="">
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-warning">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end}}
